* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: -webkit-gradient(linear, left top, left bottom, from(#d1d1d1), to(#c8c8c8));
  background: linear-gradient(to bottom, #d1d1d1, #c8c8c8);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Poppins', sans-serif;
}

.nav {
  height: 95vh;
  background: #030013;
  width: 5rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: white;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  font-size: 20px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin-left: 15px;
}

.items a {
  color: white;
  background-color: #111111;
  padding: 10px 15px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 10px;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  width: 60%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fa-bars, .fa-times {
  width: 100%;
  -webkit-transition: 10ms ease-in-out;
  transition: 10ms ease-in-out;
}

.anim {
  -webkit-transform: translateX(90%) rotateX(180deg);
          transform: translateX(90%) rotateX(180deg);
}

.items p {
  margin-left: 20px;
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
}

.iconEx {
  margin: 20px 0;
}

.fa-bars {
  -webkit-transition: 400ms ease-in-out;
  transition: 400ms ease-in-out;
}

.items a:hover {
  background-color: white;
  color: black;
  border-radius: 6px;
}

.itemsCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50%;
  width: 100%;
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
  text-align: center;
  display: none;
  width: 150px;
  margin-left: 20px;
  padding-bottom: 2px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.search {
  padding: 14px !important;
}

.search:hover {
  background-color: #111111 !important;
  color: white !important;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
}

:-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

::-ms-input-placeholder {
  color: white;
  font-size: 16px;
}

::placeholder {
  color: white;
  font-size: 16px;
}

.navExtend {
  width: 15rem;
}

.allItemz {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
/*# sourceMappingURL=style.css.map */